* {
  box-sizing: border-box;
}

html {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url(../images/bk-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: auto;
  max-width: 960px;
}

h1 {
  background-color: #fff;
  text-align: center;
}

img {
  border-radius: 50%;
}

nav ul {
  display: inline-block;
  list-style: none;
}

#main-pg {
  align-items: center;
  display: grid;
  grid-template-columns: auto 1fr;
}

#main-pg p {
  padding: 1rem;
}

table {
  margin: 1rem;
}

table, 
th, 
td {
  border-collapse: collapse;
}

th,
td {
  padding: .5rem;
}
